*           @org-one123/sm-pol-ary @org-one123/coderowners
/src/       @org-one123/sm-pol-ary @org-one123/coderowners
/docs/      @org-one123/sm-pol-ary @org-one123/coderowners
/.github/   @org-one123//coderowners
/docs/rubrica-evaluacion.md   @org-one123/coderowners
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              