*           @org-one123/sm-p01-ary @org-one123/sm-p01-ary
/src/       @org-one123/sm-p01-ary @org-one123/sm-p01-ary
/docs/      @org-one123/sm-p01-ary @org-one123/sm-p01-ary
/.github/   @org-one123//sm-p01-ary
/docs/rubrica-evaluacion.md   @org-one123/sm-p01-ary
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              